body {
    background-color: #eee;
}

.network-social-icon {
    text-decoration: none;
}

.footer-company-info {
    line-height: 20px;;
}

.margin-bottom-0 {
    margin-bottom: 0;
}

.text-search {
    font-style: italic;
}

.header-logo > a {
    display: block;
    background-image: url(assets/images/logo.png);
    height: 90px;
    text-indent: -500em;
    width: 514px;
}