<!-- Header -->
<!-- Logo -->
<div class="container py-5">
  <h1 class="header-logo">
    <a href=""></a>
  </h1>
</div>

<!-- Nav Header -->
<nav class="navbar navbar-expand-lg navbar-light sticky-top pt-0">
  <div class="container py-2 bg-lighter-green">
    <a class="navbar-brand" routerLink="/" tabindex="0">Nhã Nam</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
      (click)="isMenuCollapsed = !isMenuCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" tabindex="1">
        <!-- Danh muc sach -->
        <li ngbDropdown class="nav-item dropdown">
          <label ngbDropdownToggle class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Danh mục sách
          </label>
          <ul ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a ngbDropdownItem class="dropdown-item text-uppercase" routerLink="/product">Văn học Việt Nam</a></li>
            <li><a ngbDropdownItem class="dropdown-item text-uppercase" routerLink="/product">Văn học nước ngoài</a></li>
            <li><a ngbDropdownItem class="dropdown-item text-uppercase" routerLink="/product">Thiếu nhi</a></li>
            <li><a ngbDropdownItem class="dropdown-item text-uppercase" routerLink="/product">Thời sự chính trị</a></li>
            <li><a ngbDropdownItem class="dropdown-item text-uppercase" routerLink="/product">Khoa học tự nhiên - Nhân văn</a></li>
            <li><a ngbDropdownItem class="dropdown-item text-uppercase" routerLink="/product">Tham khảo</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a ngbDropdownItem class="dropdown-item text-uppercase" routerLink="/product">Sách bán chạy</a></li>
            <li><a ngbDropdownItem class="dropdown-item text-uppercase" routerLink="/product">Chương trình khuyến mãi</a></li>
            <li><a ngbDropdownItem class="dropdown-item text-uppercase" routerLink="/product">Giảm giá đặc biệt</a></li>
            <li><a ngbDropdownItem class="dropdown-item text-uppercase" routerLink="/product">Đặt trước sách</a></li>
          </ul>
        </li>
      </ul>
      <!-- Tim kiem -->
      <form class="d-flex col-xl-6 me-auto">
        <input class="form-control me-2 text-search" type="search" placeholder="Tìm kiếm sách..." aria-label="Tìm kiếm" tabindex="2">
        <button class="btn btn-outline-success btn-search-content col-2 col-lg-2 col-md-2 col-sm-2 col-2" type="submit" tabindex="3">
          <bi name="search" class="icon-search fill-blue-primary"></bi>
        </button>
      </form>
      <!-- Individual -->
      <ul class="navbar-nav ms-auto">
        <!-- Account -->
        <li class="nav-item" tabindex="4">
          <div class="nav-item-content d-flex justify-content-center align-items-center">
            <bi name="person-circle" class="icon-search fill-blue-primary"></bi>
            <a class="nav-link" routerLink="/account">Thông tin tài khoản</a>
          </div>
        </li>
        <!-- Cart -->
        <li class="nav-item" tabindex="5">
          <div class="nav-item-content d-flex justify-content-center align-items-center">
            <bi name="cart4" class="icon-cart fill-black"></bi>
            <a class="nav-link" routerLink="/order">Giỏ hàng</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<!-- Footer -->
<div class="container my-5">
  <!-- Footer -->
  <footer class="text-center text-lg-start text-dark" style="background-color: #ECEFF1">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-between p-4 text-white" style="background-color: #03DAC5;">
      <!-- Left -->
      <div class="me-5">
        <!-- <span>Get connected with us on social networks:</span> -->
      </div>
      <!-- Left -->

      <!-- Right -->
      <div class="d-flex">
        <a href="https://www.facebook.com/" target="_blank" class="text-white me-4 network-social-icon">
          <bi name="facebook" class="icon-cart fill-black"></bi>
        </a>
        <a href="https://twitter.com/" target="_blank" class="text-white me-4 network-social-icon">
          <bi name="twitter" class="icon-cart fill-black"></bi>
        </a>
        <a href="https://www.google.com/" target="_blank" class="text-white me-4 network-social-icon">
          <bi name="google" class="icon-cart fill-black"></bi>
        </a>
        <a href="https://www.instagram.com/" target="_blank" class="text-white me-4 network-social-icon">
          <bi name="instagram" class="icon-cart fill-black"></bi>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold">Nhã Nam</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
            <p>Địa chỉ: 59 Đỗ Quang</p>
            <p>Số điện thoại: 0903244248</p>
            <p>Email: bookstore@nhanam.vn</p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Về chúng tôi</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
            <p>
              <a href="#!" class="text-dark">Giới thiệu</a>
            </p>
            <p>
              <a href="#!" class="text-dark">Câu hỏi thường gặp</a>
            </p>
            <p>
              <a href="#!" class="text-dark">Chính sách bảo mật</a>
            </p>
            <p>
              <a href="#!" class="text-dark">Liên hệ</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-4 mx-auto mb-5">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Hỗ trợ</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
            <p>
              <a href="#!" class="text-dark">Hướng dẫn đặt hàng</a>
            </p>
            <p>
              <a href="#!" class="text-dark">Quy định đổi, trả và hủy đơn hàng</a>
            </p>
            <p>
              <a href="#!" class="text-dark">Chính sách vận chuyển</a>
            </p>
            <p>
              <a href="#!" class="text-dark">Hình thức thanh toán</a>
            </p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-3 footer-company-info" style="background-color: rgba(0, 0, 0, 0.2)">
      <p class="margin-bottom-0">
        © 2014 - Bản quyền của Công Ty Cổ Phần Văn Hoá và Truyền Thông Nhã Nam -
        <a href="">nhanam.com.vn</a>
      </p>
      <p class="margin-bottom-0">Địa chỉ: 59 Đỗ Quang, phường Trung Hoà, quận Cầu Giấy, Hà Nội</p>
      <p class="margin-bottom-0">Giấy ĐKKD số 0101603420 do Sở KH&ĐT TP Hà Nội cấp ngày 21 tháng 1 năm 2005 sửa đổi
        lần 5 ngày 20/3/2013</p>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</div>
<!-- End of .container -->