/* You can add global styles to this file, and also import other style files */
.bg-lighter-green {
  background-color: #03DAC5;
}

.fill-blue-primary {
  color: #263238;
}

.icon-cart {
  height: 20px;
  width: 20px;
}

.fill-red {
  color: red;
}

.fill-black {
  color: black;
}

.badge-light {
  color: #212529;
  background-color: #f8f9fa;
}

.badge-danger {
  color: #fff;
  background-color: #dc3545;
}